@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
   --font1: 'Lato', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-image: url(../media/imgs/pexels-photo-998641.jpeg);
    background-size: cover;
    background-position: center center;
    font-family: var(--font1);
}

#cabeca{
    color: white;
    font-family: var(--font1);
    text-align: center;    
    margin-top: 40px;
    margin-bottom: 40px;
}

#cabeca > h1{
    font-size: 2.8em;
    text-shadow: 1px 1px 1px purple;
}
#principal{
    min-height: 100vh;
}

#container{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 650px;
    height: 450px;
    padding: 10px;
    transform: translate(-50%, -50%);

    background-color: rgb(23, 0, 45);
    color: white;
}

#container > h1{
    text-align: center;
    font-size: 1.7em;
    font-variant: small-caps;
}

#social{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -90%);
}

#social > a > img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 2px 5px black;
    box-sizing: border-box;
}

#social > a > img:hover{
    transform: translate(-3px, -3px);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 4px 10px black;
    transition: 0.3;
}

footer{
    padding: 7px;
    width: 227px;
    border-radius: 4px 4px 0px 0px;
    font-variant: small-caps;
    font-size: large;
    text-align: left;
    color: white;
}

footer >p{
    margin: 0px;
}