@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
   --font1: 'Lato', sans-serif;
}

body, html{
    min-height: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: var(--font1);
}

header{
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

main{
    margin: auto;
    width: 800px;
    height: auto;
    border: 1px solid black;
    
    text-align: center;
}

main > p{
    text-align: left;
}

iframe{
    width: 450px;
    height: 190px;
    overflow-y: scroll;
}

footer{
    position: absolute;
    top: 49.2vw;
    padding: 7px;
    
    border-radius: 4px 4px 0px 0px;
    background-color: black;

    font-variant: small-caps;
    text-align: center;
    color: white;
}

footer >p{
    margin: 0px;
}