@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
   --font1: 'Lato', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font1);
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
body{
    background: url(media/imgs/pexels-photo-998641.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#cabeca{
    color: white;
    text-align: center;    
    padding-top: 50px;
}

#cabeca > h1{
    font-size: 4em;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px purple;
}

#container{
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 15px;
    width: 500px;
    transform: translate(-50%, -50%);
    color: white;
}

#container > h1{
    text-align: center;
    font-size: 1.7em;
    font-variant: small-caps;
    font-weight: bold;
}

#container > p{
    line-height: 1.5em;
    font-weight: normal;
    text-indent: 15px;
    text-shadow: 1px 0px 1px white;
}

#social{
    position: absolute;
    top: 483.5px;
    left: 1885px;    
    transform: translate(-50%, -90%);
}

#social > a > img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 2px 5px black;
    box-sizing: border-box;
}

#social > a > img:hover{
    transform: translate(-3px, -3px);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 4px 10px black;
    transition: 0.3;
}

p{
    margin-bottom: 7px;
}

.lg{
    color: red;
    font: bold;
    text-shadow: 1px 0px 1px red;
}

footer{
    display: inline-block;
    position: absolute;
    top: 935px;
    padding: 7px;
    width: 227px;
    border-radius: 4px 4px 0px 0px;
    font-variant: small-caps;
    font-size: large;
    text-align: left;
    font-weight: bolder;
    color: white;
}

footer > p{
    display: none;
    width: 200px;

}

footer:hover > p{
    display: block;
}

#zero{
    color: red;
    font-weight: bolder;
}