 @charset "UTF-8";

@font-face {
    font-family: katana;
    src: url(fontes/KATANA.ttf);
    font-weight: lighter;
}
*{
    margin: 0px;
    padding: 0px;
}
html{
    min-height: 100vh;
}
body{
    min-height: 100vh;
    font-family: monospace, sans-serif;
    background-image: url(https://images6.alphacoders.com/131/1313226.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
header{
   font-size: x-large;
}

h1#tituloprincipal{
    padding-top: 35px;
    font-family: katana;
    color: #ffce6f;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
#nav{
    text-align: center;
    padding-bottom: 35px;
}

 main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    max-width: 850px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    background-color: #36173d;

    border-radius: 11px;
    box-shadow: 9px 9px 9px black;
 }

main > h2{
    font-family: katana, sans-serif;
    color: #ffce6f;
    margin-top: 7px;
    text-align: center;
    text-indent: 10px;
}

main > p{
    line-height: 1.5em;
    font-weight: bold;
    text-indent: 10px;
}

main > ul{
    text-indent: 10px;
}

.hora{
    position: absolute;
    top: 2%;
    left: 90%;
    display: inline-block;
    height: 25px;
    padding: 5px;    
    border-radius: 7px;
    border-style: solid;
    text-align: center;
    font-weight: bolder;
    color: purple;
    background-color:#36173d;
  
    
}

p{
    color: #f0d8a8a6;
    text-align: center;
}
li{
    text-align: left;
}

a{
    text-decoration: none;
    color: plum;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    color: red;
}

footer{
    margin: auto;
    padding: 4px;
    position: absolute;
    top: 950px;


    
    
    
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}