@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+1+Code&display=swap');

:root{
    --font1: 'Bebas Neue', sans-serif;
    --font2: 'M PLUS 1 Code', monospace;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    min-height: 100vh;
    min-width: 100vh;
    background-color: darkgray;
}

.d{
    display: inline-block;
    width: 440px;
    height: 800px;
    border: solid rgb(255, 0, 0);
    border-collapse: collapse;
    background-color: darkgray;
    color: white;
    text-indent: 9px;
}

#d1{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 25%;
    width: 280px;
    background-image: linear-gradient(black, rgb(93, 93, 93));
}

#d2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 65%;
    background-color: black;
}

#pic{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

#me{
    width: 120px;
    text-align: center;
}

section > h1, h2{
    text-align: center;
    font-family: var(--font1);
    color: white;
    font-size: x-large;
}

section > p{
    font-family: var(--font2);
}

main > h1, h2{
    font-family: var(--font1);
    font-size: larger;
}

main > p {
    font-family: var(--font2);
}

.titulo{
    font-size: xx-large;
}

#dtable{
    overflow-x: auto;
}

table{
    border-collapse: collapse;
    width: 420px;
    margin: auto;

}

thead{
    background-color: darkgray;
}

tbody > tr:nth-child(2n){
    background-color: rgba(255, 255, 255, 0.741);
}

.tempo{
    text-align: right;
}

th, td{
    padding: 7px;
    border: 1px solid white;
}